apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: arh-secrets
  namespace: decidim-ai
data:
  LANGFUSE_BASE_URL: <BASE64>
  LANGFUSE_PUBLIC_KEY: <BASE64>
  LANGFUSE_SECRET_KEY: <BASE64>
  CLOUD_BASE_URL: <BASE64>
  CLOUD_API_KEY: <BASE64>